rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /employees/{employeeId}/documents/{document=**} {
      allow read: if request.auth != null && (
        request.auth.token.role == 'HR' ||
        request.auth.uid == employeeId
      );
      allow write: if request.auth != null && request.auth.token.role == 'HR';
    }
  }
}
